<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/header -%>
  </head>

  <body>
    <div id="site-content">
      <header class="site-header">
        <%- include ./partials/navigation -%>
      </header>
      <main class="main-content">
        <div class="container"></div>
        <!-- .container -->
      </main>
      <%- include ./partials/footer -%>
    </div>
    <!-- Default snippet for navigation -->

    <%- include ./partials/script -%>
  </body>
</html>
